/* stylelint-disable scale-unlimited/declaration-strict-value */
@font-face {
  font-weight: 400;
  font-family: Manrope;
  src:
    local('Manrope Regular'),
    local('Manrope-Regular'),
    url('/src/shared/assets/fonts/manrope/woff2/Manrope-Regular.woff2')
      format('woff2'),
    url('/src/shared/assets/fonts/manrope/woff/Manrope-Regular.woff')
      format('woff'),
    url('/src/shared/assets/fonts/manrope/ttf/Manrope-Regular.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Manrope;
  src:
    local('Manrope SemiBold'),
    local('Manrope-SemiBold'),
    url('/src/shared/assets/fonts/manrope/woff2/Manrope-SemiBold.woff2')
      format('woff2'),
    url('/src/shared/assets/fonts/manrope/woff/Manrope-SemiBold.woff')
      format('woff'),
    url('/src/shared/assets/fonts/manrope/ttf/Manrope-SemiBold.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: Manrope;
  src:
    local('Manrope Bold'),
    local('Manrope-Bold'),
    url('/src/shared/assets/fonts/manrope/woff2/Manrope-Bold.woff2')
      format('woff2'),
    url('/src/shared/assets/fonts/manrope/woff/Manrope-Bold.woff')
      format('woff'),
    url('/src/shared/assets/fonts/manrope/ttf/Manrope-Bold.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: Manrope;
  src:
    local('Manrope medium'),
    local('Manrope-medium'),
    url('/src/shared/assets/fonts/manrope/woff2/Manrope-Medium.woff2')
      format('woff2'),
    url('/src/shared/assets/fonts/manrope/woff/Manrope-Medium.woff')
      format('woff'),
    url('/src/shared/assets/fonts/manrope/ttf/Manrope-Medium.ttf')
      format('truetype');
  font-display: swap;
}
