@import url('./variables.css');
@import url('./fonts.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  color: var(--black-900);
  background-color: var(--bg-body);
  font-size: var(--text-md);
  font-family: var(--font-family-default);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--black-900);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:disabled:hover {
  transform: none;
  cursor: inherit;
}

a.active {
  text-decoration: underline;
}

.wrapper {
  position: relative;
  flex: 1 1 auto;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

@media (width >= 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (width >= 768px) {
  .wrapper {
    padding: 0;
    max-width: 708px;
  }
}

@media (width >= 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (width >= 1440px) {
  .wrapper {
    max-width: 1216px;
  }
}
