@import url('./variables.css');
@import url('./fonts.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  color: var(--black-900);
  background-color: var(--bg-body);
  font-size: var(--text-md);
  font-family: var(--font-family-default);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--black-900);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:disabled:hover {
  transform: none;
  cursor: inherit;
}

a.active {
  text-decoration: underline;
}
