.link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  color: var(--purple-700);
  font-weight: var(--font-weight-semibold);
  line-height: 110%;
}

.arrow {
  width: 24px;
  height: 24px;
  background-image: url('/src/shared/assets/svg/arrow-left-purple.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17.5px 13.5px;
}
