.header {
  background-color: var(--white-900);
  border-bottom: 1px solid var(--black-50);
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-container-sm);
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width);
}

@media (width >=768px) {
  .container {
    padding: var(--padding-container-md);
  }
}
