.header {
  display: flex;
  background-color: var(--white-900);
  border-bottom: 1px solid var(--black-50);
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10.5px 0;
  width: 100%;
  overflow-x: clip;
}

@media (width >= 768px) {
  .container {
    padding: 15px 0;
  }
}

@media (width >= 1440px) {
  .container {
    padding: 15.5px 0;
  }
}
