.header {
  display: grid;
  align-items: stretch;
  gap: 16px;
  grid-template-columns: 100%;
}

.image {
  object-fit: cover;
  border-radius: 8px;
}

.placeholder {
  height: 220px;
  background-color: var(--purple-100);
  background-image: url('/src/shared/assets/svg/mascot.svg');
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center center;
  border-radius: 8px;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
}

.button {
  margin-bottom: auto;
}

.title {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-medium);
  line-height: 120%;
}

@media (width >=768px) {
  .header {
    grid-template-columns: 170px 1fr;
  }

  .image {
    border-radius: 12px;
  }

  .placeholder {
    height: auto;
    border-radius: 12px;
  }

  .title {
    font-size: var(--text-xxl);
  }
}

@media (width >=992px) {
  .button {
    display: none;
  }
}
