.button {
  position: relative;
  width: 17.92px;
  height: 17.92px;
  border: 1.25px solid var(--red-600);
  background: none;
  cursor: pointer;
  border-radius: 50%;
  align-self: flex-end;
}

.button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.25px;
  height: 7px;
  background-color: var(--red-600);
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.25px;
  height: 7px;
  background-color: var(--red-600);
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(-45deg);
}
