.container {
  display: flex;
  gap: 16px;
  padding: 16px;
  width: 100%;
  background-color: var(--white-900);
  border-radius: 8px;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--black-100);
}

.main-title {
  width: 60%;
  height: 24px;
  border-radius: 4px;
}

.filter-button {
  width: 28px;
  height: 28px;
  border-radius: 4px;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--black-100);
  gap: 8px;
  padding: 16px 0;
}

.question-title {
  width: 70%;
  height: var(--text-lg);
  border-radius: 4px;
}

.question-icon {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.main-title,
.filter-button,
.question-title,
.question-icon {
  background: linear-gradient(90deg, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -135% 0%;
  }
}
