.container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding: 20px 10px;
  width: 100%;
  height: fit-content;
  background-color: var(--white-900);
  box-shadow: var(--main-shadow);
  flex-direction: column;
}

.hidden {
  position: absolute;
  top: -300%;
  z-index: -1111;
  opacity: 0;
}

@media (width >=540px) {
  .container {
    max-width: 328px;
    padding: 16px;
  }
}
