.container {
  display: flex;
  flex-grow: 1;
  padding: 10px 0;
  width: 100%;
  flex-direction: column;
}

@media (width >=992px) {
  .filters-button {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
}

.title {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-medium);
  line-height: 120%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.item {
  padding-top: 20px;
  border-top: 1px solid var(--black-100);
}
