.container {
  display: flex;
  flex-grow: 1;
  padding: 20px 10px;
  height: fit-content;
  background-color: var(--white-900);
  border-radius: 16px;
  margin-bottom: 40px;
  max-width: 100%;
  flex-direction: column;
}

@media (width >=708px) {
  .container {
    padding: 16px;
    border-radius: 24px;
    box-shadow: var(--main-shadow);
    max-width: 708px;
  }
}

@media (width >=1216px) {
  .container {
    max-width: 804px;
    padding: 24px 20px;
    border-radius: 24px;
  }

  .filters-button {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
}

.title {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-medium);
  line-height: 120%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.item {
  padding-top: 20px;
  border-top: 1px solid var(--black-100);
}
