.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  position: absolute;
  left: 41px;
  transition: all var(--base-transition);
  opacity: 0;
}

@media (width >= 708px) {
  .text {
    position: static;
    opacity: 1;
  }
}
