.button {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.button-open {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--text-md);
  font-weight: var(--font-weight-medium);
  line-height: 130%;
  text-align: left;
}

.dot {
  align-self: baseline;
  flex-grow: 1;
  flex-shrink: 0;
  width: 5px;
  height: 5px;
  margin-top: 7px;
  background-color: var(--brand);
  border-radius: 50%;
}

.chevron {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('/src/shared/assets/svg/chevron-down-purple.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15.5px 7.5px;
  transition: transform var(--base-transition);
}

.button-open .chevron {
  transform: rotate(180deg);
}
