.card {
  position: relative;
  padding: 10px;
  background-color: var(--white-900);
  border-radius: 12px;
  box-shadow: var(--main-shadow);
  overflow: hidden;
  transition: height var(--base-transition);
}

@media (width >= 540px) {
  .card {
    padding: 16px;
    border-radius: 24px;
  }
}

@media (width >= 992px) {
  .card {
    padding: 24px;
  }
}
